<div class="banner-container">
  <noscript>
    <div class="banner top error">
      <p>It looks like JavaScript is currently disabled for your browser. We recommend enabling JavaScript in order for the site to function as anticipated.</p>
      <div onClick="parentNode.remove()">Close [X]</div>
    </div>
  </noscript>

    <!--[if IE]><div class="banner top error"><p>It looks like you are using an out-of-date browser. Please use a modern browser for a better browsing experience.</p><div onClick="parentNode.remove()">Close [X]</div></div><![endif]-->

  </div>