<noscript>
  <div class="banner top error">
    <p>It looks like JavaScript is currently disabled for your browser. We recommend enabling JavaScript in order for the site to function as anticipated.</p>
  </div>
</noscript>